@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Galmuri11-Bold";
  src: url("/src/fonts/Galmuri11-Bold.ttf");
}

body,
html {
  max-width: 600px;
  margin: 0 auto;
  background-color: rgba(232, 232, 232);
}

body {
  width: 100%;
  background-color: #fff;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
